$ds-breakpoint: 760px;
$sp-breakpoint: 759px;

.heading1 {
	display: none;
}

.heading2 {
	font-size: 1rem;
	color: #373535;
}

.emp {
	font-size: 1.2rem;
	font-weight: bold;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.position {
	position: relative;
}

.iconClip {
	width: 20px;
	position: absolute;
	right: 0;
	top: 0;
}

.mailContent {
	display: flex;
	flex-direction: row;
}

.subject {
	padding-right: 1.5rem;
}
@media only screen and (min-width: $ds-breakpoint) {
	.iconMailSp {
		display: none;
	}
}

@media only screen and (max-width: $sp-breakpoint) {
	.mailContent {
		flex-direction: column;
	}

	.iconMailSp {
		display: block;
		width: 20px;
	}
}
